<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\InnerLog.txt" >
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>
    <targets>


        <target name="allfile" fileName="c:temp\Logs\nlog-all-${shortdate}.log"
                layout="->(${longdate}) : ${level} : ${message}">
            <xsi:type>File</xsi:type>
        </target>
        <!-- wyjątki -->
        <target name="exceptions" fileName="c:temp\Logs\exceptions-${shortdate}.log"
                layout="->(${longdate}) : ${level} : ${message}">
            <xsi:type>File</xsi:type>
        </target>

    </targets>
    <!-- rules to map from logger name to target -->
    <rules>
        <!--Skip non-critical Microsoft logs and so log only own logs-->


        <logger name="*" maxLevel="Information" writeTo="allfile"/>
        <logger name="WebAPI.*" minLevel="Error" writeTo="exceptions" />

    </rules>
</nlog>